@media only screen and (max-width:800px) {
.wrapper{width:94%;-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;}
}

@media only screen and (max-width:639px) {
.signinDv{width: 94%;}
#login {display:block;padding:10px 0px;}
.hide {display:none;}
.frmDv, .prflDv {padding:8px 0px;}
.frmDv input {width:75%;font-size:16px;padding:10px 10px 10px 60px;margin-bottom:10px;}
.frmDv .btn{width:99% !important;font-size:18px}
.btmLnksDv {width:100%;margin:25px 0 10px;text-align:left;}
.btmLnksDv span a {margin-bottom:8px;display:block;}
.fl, .fr {float:none;}
.signin-container {padding:25px 0px 0px;}
.signin-container h2 {margin-bottom:25px;}
.prflDv .barDv{width:100%;}
.cprfl a, .skip a {font-size:16px;}
}

