<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AUW SSO | Admin Panel | Overview</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="static/css/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <link href="static/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css">
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/admin">Admin Panel</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/admin_profile"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="/add_admin"><i class="fa fa-users fa-fw"></i> Add New Admin</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/sign_out"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/admin"><i class="fa fa-dashboard fa-fw"></i>Overview</a>
                        </li>
                        <li>
                            <a href="/admin_cities"><i class="fa fa-dashboard fa-fw"></i>Hits per Cities</a>
                        </li>
                        <li>
                            <a href="/admin_days"><i class="fa fa-dashboard fa-fw"></i>Hits per Days</a>
                        </li>
                        <li>
                            <a href="/last_sessions"><i class="fa fa-dashboard fa-fw"></i>Last Sessions</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">Complete Your Profile</h2>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row form-group">
                    <div class="col-lg-2">
                        <label>Full Name</label>
                    </div>
                    <div class="col-lg-10">
                        <input id="fName" class="form-control" value="{{userD.name}}" placeholder="Full Name">
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row form-group">
                    <div class="col-lg-2">
                        <label>E Mail</label>
                    </div>
                    <div class="col-lg-10">
                        <input id="email" disabled class="form-control" value="{{userD.email}}" placeholder="smith@yourmail.com">
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row form-group">
                    <div class="col-lg-2">
                        <label>Phone</label>
                    </div>
                    <div class="col-lg-10">
                        <input id="phone" class="form-control" value="{{userD.phone}}" placeholder="0987654321">
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row form-group">
                    <div class="col-lg-2">
                        <label>Location</label>
                    </div>
                    <div class="col-lg-10">
                        <input id="location" class="form-control" value="{{userD.location}}" placeholder="Your Location">
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row form-group">
                    <div class="col-lg-2">
                        <label>Native City</label>
                    </div>
                    <div class="col-lg-10">
                        <input id="native_city" class="form-control" value="{{userD.native_city}}" placeholder="Native City">
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row form-group">
                    <div class="col-lg-2">
                        <label>Native Country</label>
                    </div>
                    <div class="col-lg-10">
                        <input id="native_country" class="form-control" value="{{userD.native_country}}" placeholder="Native Country">
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row form-group">
                    <div class="col-lg-2">
                        <label>Current City</label>
                    </div>
                    <div class="col-lg-10">
                        <input id="current_city" class="form-control" value="{{userD.current_city}}" placeholder="Current City">
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row form-group">
                    <div class="col-lg-2">
                        <label>Current Country</label>
                    </div>
                    <div class="col-lg-10">
                        <input id="current_country" class="form-control" value="{{userD.current_country}}" placeholder="Current Country">
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row form-group">
                    <div class="col-lg-2">
                        <label>Profession</label>
                    </div>
                    <div class="col-lg-10">
                        <input id="profession" class="form-control" value="{{userD.profession}}" placeholder="Profession">
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row form-group">
                    <div class="col-lg-2">
                        <label>Interests</label>
                    </div>
                    <div class="col-lg-10">
                        <input id="interests" class="form-control" value="{{userD.interests}}" placeholder="Your Interests">
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row form-group">
                    <div class="col-lg-12">
                        <button class="btn btn-primary btn-block" onClick="saveThis(this)">Update and Save</button>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                
                <!-- /.row -->
            </div>
                    <!-- /.container-fluid -->
        </div>

        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="static/scripts/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/scripts/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="static/scripts/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="static/scripts/sb-admin-2.js"></script>

    <!-- Common JavaScript Functions -->
    <script src="static/scripts/admin.js"></script>

    <script>
    overViewPageLoad('{{data | safe}}');
    </script>

</body>

</html>
