<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>SSO :: Change Password</title>

<link rel="stylesheet" href="static/css/sso.css" type="text/css">
<link rel="stylesheet" href="static/css/responsive.css" type="text/css">

<div class="wrapper">

  <div class="signin-container">
  <!-- Sign In - Second Screen Dv -->
  <div id="signFrm">
    <h2>Change Password</h2>
    <div class="frmDv">
    	  <form id="chPassword">
          <input type="text" name="name" placeholder="User Name" class="user" autofocus>
          <input type="password" name="opwd" placeholder="Old Password" class="pwd">
          <input type="password" name="npwd" placeholder="New Password" class="pwd">
          <input type="password" name="cpwd" placeholder="Confirm Password" class="pwd">
          <input type="submit" name="sbmt" value="Set Password" class="btn">

        </form>
        <div class="btmLnksDv">
        </div>
      </div>
  </div>
  <!-- Sign In - Second Screen Dv cl -->              
  </div>                                                 



</div><!-- Wrapper Dv cl -->

<script src="static/scripts/jquery.js" type="text/javascript"></script>
<script type="text/javascript" src="static/scripts/jquery.popup.min.js"></script>
<script type="text/javascript" src="static/scripts/sso.js"></script>
