<!DOCTYPE html>
<html>
<head>
	<title>Facebook Login JavaScript Example</title>
	<meta charset="UTF-8">
</head>
<body>

	<script>
	
	function statusChangeCallback(response) {

		if (response.status === 'connected') {
			FB.api('/me', function(fbResponse) {
				console.log('fbResponse', fbResponse)
				console.log(fbResponse.id,fbResponse.email,fbResponse.first_name,fbResponse.last_name)
			})
		};		
	}

	function checkLoginState() {
		FB.getLoginStatus(function(response) {
			statusChangeCallback(response);

		});
	}

	window.fbAsyncInit = function() {
		FB.init({
		appId      : {{ fbKey }},
		cookie     : true,  // enable cookies to allow the server to access 
												// the session
		xfbml      : true,  // parse social plugins on this page
		version    : 'v2.2' // use version 2.2
		});
	};

	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "static/scripts/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));

	
	</script>
	<script src="static/js/jquery.min.js"></script>

<!--
	Below we include the Login Button social plugin. This button uses
	the JavaScript SDK to present a graphical Login button that triggers
	the FB.login() function when clicked.
-->

<fb:login-button scope="public_profile,email" data-auto-logout-link="true" onlogin="checkLoginState();" >Login With Facebook
</fb:login-button>

<div id="status">
</div>
<div>
	<select id="attribute" >
		<option  value="0">Select an Attribute</option>
		<option  value="insights/page_fans/lifetime">Page Fans</option>
		<option  value="insights/page_fans_country/lifetime">Page Fans Country</option>
		<option  value="insights/page_fans_city">Page Fans City</option>
		<option  value="insights/page_fans_gender_age">Page Fans Gender</option>
		<option  value="locations">Location</option>
		<option  value="events">Events</option>
	</select>
	
	<select id="pages">
	</select>
</div>
<button onclick="generateLink(this)">Generate Link</button>
<div id="links"><a id="restful-link" href="#">The RestFul Link</a></div>
</body>
<script>
function generateLink(item){
	
	var url="https://graph.facebook.com/"+$('#pages').val()+"/"+$('#attribute').val()+"?access_token="+localStorage.user_access;
	console.log(url)
	$('#links').find('a').attr('href',url)


}
</script>
<!-- https://graph.facebook.com/v2.2/me/accounts?access_token=CAAJrDvapGtcBACcHRIdGnWNLmCGHhfqMHbKDRCOWFgtLNZCABVAvTy9ZBamp6HpOwkTgG1JM27clmjnXQ5bWsDsRLieKqNAtfj6cae6ydcCMcCtIYbmzmkpEKyszGfDGxbhvSpawk643jPDEaJYJIpMWcSMLseKm9p9rTY5iodpTJh9mfIw6OEr244eKBRBl63WM0RO33rSsZABJzPA -->