<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="990809127647-3qjp63toeb81bihtlu2i3mu8a07fq3qr.apps.googleusercontent.com">
<div class="g-signin2" data-onsuccess="onSignIn"></div>
<a href="#" onclick="signOut();">Sign out</a>
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>
<script>
function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId());
  console.log('Name: ' + profile.getName());
  console.log(profile);
  console.log('Email: ' + profile.getEmail());
}
</script>
