<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="{{gKey}}.apps.googleusercontent.com">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>SSO :: Sign In First Screen</title>
<link rel="stylesheet" href="../static/css/sso.css" type="text/css">
<link rel="stylesheet" href="../static/css/responsive.css" type="text/css">
<script type="text/javascript" src="http://platform.linkedin.com/in.js">
    api_key: {{linKey}}
    authorize: true
</script>
<script>
window.fbAsyncInit = function() {
    FB.init({
    appId      : {{ fbKey }},
    cookie     : true,  // enable cookies to allow the server to access 
                                            // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
    });
};

(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "../static/scripts/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

</script>
<script type="text/javascript" src="../static/scripts/social.js"></script>
<style>
<style>

  .social_float {width:80px; float:left !important;}
  .social_float:nth-child(1){width:40px;}
  .g-signin2 {width:120px !important;}

</style>
</style>

<div class="wrapper">

<!-- SignIn Dv -->
<div class="signin-container">
          <!-- Sign In - Ist Screen Dv -->
  <div id="sign">
    <h2>Sign In</h2>
    <p>Get more than ever out of Amar Ujala.</p>
    <p>Build your own personal story stream, participate in discussions, easily share your favorite stories,
    and connect with what your friends are sharing.</p>
    <p>Just select your favorite social network to get started.</p>
    <div class="social">
      <input type="hidden" id="referer" value="{{referer}}"/>
    <div class="social_float">  
      <a class="icons auIcn" title="Amar Ujala" href="/{{referer}}/auw_login" id="tp1" onclick="show('signFrm','tp1')">Amar Ujala</a>
    </div>
    <div class="social_float">
      <fb:login-button scope="public_profile,email" data-auto-logout-link="true" onlogin="checkLoginState();">
      </fb:login-button>
    </div>
    <!-- <a class="icons fbIcn" title="Facebook" href="#">Facebook</a> -->
    <!-- <a class="icons twIcn" title="Twitter" href="#">Twitter</a> -->
    <div class="social_float g-signin2" data-onsuccess="onGSignIn" title="Google Plus"></div>
    <div class="social_float">
      <a class="icons linkndIcn" title="Linked In" onclick="liAuth()">LinkedIn</a>
    </div>
    <div class="clr"></div>
    </div>
  </div>
  <!-- Sign In - Ist Screen Dv -->               
</div>                                                 

<!-- SignIn Dv cl-->



</div><!-- Wrapper Dv cl -->

<script src="../static/scripts/jquery.js" type="text/javascript"></script>
<script type="text/javascript" src="../static/scripts/jquery.popup.min.js"></script>