<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>SSO :: Sign Up - Second Screen</title>

<link rel="stylesheet" href="static/css/sso.css" type="text/css">
<link rel="stylesheet" href="static/css/responsive.css" type="text/css">


</head>
<body>

<div class="wrapper">

<!-- Header Dv -->
<div class="hide" style="padding:15px;"><a href="#login" name="login" rel="popupModal">Login</a></div>
<!-- Header Dv cl-->


<!-- SignIn Dv -->
<div class="signinDv" id="login">
            <!--<div class="close"><a href="#" class="close">X</a></div>-->
            <div align="right">
              <a href="/sign_out">Sign Out</a>
            </div>
            <div class="signin-container">
                      <!-- Welcome Profile Dv -->
                      <div id="profile" style="display:block;">
                            <h3><span>Welcome</span> {{userName}}
                            </h3>
                            <div class="prflDv">
                               <div class="mrgB15"><img src="static/images/prfl-pic.jpg" alt="" class="pimg"></div>
                               <h4>Profile Completion {{profile_Complete}}%</h4>
                               <div class="barDv"><span style="width:{{profile_Complete}}%;"></span></div>
                               
                               <div class="btmLnksDv">
                                   <div class="cprfl"><a href="#">Complete Your Profile</a></div>
                                   <div class="skip"><a href="#">Skip</a></div>
                                   <div class="clr"></div>
                               </div>
                            </div>
                      </div>
                      <!-- Welcome Profile Dv cl -->             
            </div>                                                 
<div class="clr"></div>
</div>
<!-- SignIn Dv cl-->



</div><!-- Wrapper Dv cl -->

<script src="static/scripts/jquery.js" type="text/javascript"></script>
<script type="text/javascript" src="static/scripts/jquery.popup.min.js"></script>
<script type="text/javascript" src="static/scripts/sso.js"></script>

</body>
</html>
