<!DOCTYPE HTML>
<html>
<head>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="{{gKey}}.apps.googleusercontent.com">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>SSO :: Sign In First Screen</title>
<link rel="stylesheet" href="static/css/sso.css" type="text/css">
<link rel="stylesheet" href="static/css/responsive.css" type="text/css">
<script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key: {{linKey}}
    authorize: true
</script>
<script>
window.fbAsyncInit = function() {
    FB.init({
    appId      : {{ fbKey }},
    cookie     : true,  // enable cookies to allow the server to access 
                                            // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
    });
};

(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "static/scripts/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

</script>
<script type="text/javascript" src="static/scripts/social.js"></script>

</head>
<body>

<div class="wrapper">

<!-- Header Dv -->
<div class="hide" style="padding:15px;"><a href="#login" name="login" rel="popupModal">Login</a></div>
<!-- Header Dv cl-->


<!-- SignIn Dv -->
<div class="signinDv" id="login">
            <!--<div class="close"><a href="#" class="close">X</a></div>-->
            <div class="signin-container">
                      <!-- Sign In - Ist Screen Dv -->
                      <div id="sign">
                          <h2>Sign In</h2>
                          <p>Get more than ever out of Amar Ujala.</p>
                          <p>Build your own personal story stream, participate in discussions, easily share your favorite stories,
                          and connect with what your friends are sharing.</p>
                          <p>Just select your favorite social network to get started.</p>
                          <div class="social row">
                          <div class="col-md-2">  
                            <a class="icons auIcn" title="Amar Ujala" href="/auw_login" id="tp1" onclick="show('signFrm','tp1')">Amar Ujala</a>
                          </div>
                          <div class="col-md-4">
                            <fb:login-button scope="public_profile,email" data-auto-logout-link="true" onlogin="checkLoginState();">
                            </fb:login-button>
                          </div>
                          <!-- <a class="icons fbIcn" title="Facebook" href="#">Facebook</a> -->
                          <!-- <a class="icons twIcn" title="Twitter" href="#">Twitter</a> -->
                          <div class="col-md-4 g-signin2" data-onsuccess="onGSignIn" title="Google Plus"></div>
                          <div>
                            <a class="col-md-2 icons linkndIcn" title="Linked In" onclick="liAuth()">LinkedIn</a>
                          </div>
                          <div class="clr"></div>
                          </div>
                      </div>
                      <!-- Sign In - Ist Screen Dv -->               
            </div>                                                 
<div class="clr"></div>
</div>
<!-- SignIn Dv cl-->



</div><!-- Wrapper Dv cl -->

<script src="static/scripts/jquery.js" type="text/javascript"></script>
<script type="text/javascript" src="static/scripts/jquery.popup.min.js"></script>
<script>
  $(function() 
  {
    $('a[rel*=popupModal]').popupModal({closeButton: ".close" });  /*top: 20 ,*/
  });

  $(document).ready(function()
  {
    $('a[rel*=popupModal]').click()
  });

</script>

</body>
</html>
